SUPABASE_URL=https://uaaykpfslppwbumpdsbb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhYXlrcGZzbHBwd2J1bXBkc2JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1OTMwMzcsImV4cCI6MjA5NTE2OTAzN30.BtaleZ-NdVt4Wz5H27Fs7FVhCckm-dYLus2tggoFvqY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhYXlrcGZzbHBwd2J1bXBkc2JiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTU5MzAzNywiZXhwIjoyMDk1MTY5MDM3fQ.LtzaaFORO_oX1uuAwvCRJ6OuH79rBgUPvLXEBY8VEu0
FRONTEND_ORIGIN=http://localhost:5173
PORT=8000
